.table-pagination{
    nav{
       div:first-child{
           display: none;
       }

        div:nth-child(2) {
            div:first-child {
                display: none;
            }

            div:nth-child(2) {
                span{
                    span:first-child{
                        svg{
                            width: 17px;
                        }
                    }
                    span:last-child{
                        svg{
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}
